@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  *,
  :after,
  :before,
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  user agent stylesheet header {
    display: block;
    unicode-bidi: isolate;
  }
  body {
    font-family: "OpenSans";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow-x: hidden;
    padding-right: 0 !important;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  *,
  :after,
  :before,
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  *,
  :after,
  :before,
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
