@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply mb-0.5 block text-sm font-medium leading-6 text-gray-900;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .text {
    @apply md:text-base lg:text-lg xl:text-xl;
  }

  html {
    height: 100%;
    line-height: 1.2;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    min-width: 440px;
  }
}
